/*---container---*/
[class*="__container"] {
  max-width: 1312px;
  padding: 80px 16px;
  margin: 0 auto;
  gap: 80px;
}

@media (max-width: 991.98px) {
  [class*="__container"] {
    padding: 70px 16px;
    gap: 70px;
  }
}
@media (max-width: 767.98px) {
  [class*="__container"] {
    padding: 60px 16px;
    gap: 60px;
  }
}
@media (max-width: 439.98px) {
  [class*="__container"] {
    padding: 48px 16px;
    gap: 48px;
  }
}

/*---button---*/
.button {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 12px 28px;
  text-align: center;
  border-radius: 8px;
  transition: all 0.3s;
  white-space: nowrap;
}

.button--whiteborder {
  border: 2px solid #fff;
  background-color: #0f172a;
}
.button--pink {
  background-color: #9333ea;
}
.button--pink:hover {
  background-color: #c69ced;
}
.button--whiteborder:hover {
  background-color: #2c3c63;
}
.button--transparent {
  padding: 12px 24px;
}
.button--transparent:hover {
  background-color: #2c3c63;
}
/*---bigger and smaller title---*/
.title {
  line-height: 1.1;
  font-weight: 800;
  text-wrap: balance;
}
.title--bigger {
  font-size: 72px;
}
.title--smaller {
  font-size: 56px;
}
@media (max-width: 991.98px) {
  .title--bigger {
    font-size: 64px;
  }
  .title--smaller {
    font-size: 56px;
  }
}
@media (max-width: 767.98px) {
  .title--bigger {
    font-size: 58px;
  }
  .title--smaller {
    font-size: 48px;
  }
}
@media (max-width: 439.98px) {
  .title {
    font-weight: 700;
  }
  .title--bigger {
    font-size: 56px;
  }
  .title--smaller {
    font-size: 40px;
  }
}
