@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
@import url(reset.css);

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background: #0f172a;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  max-width: 1320px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
